*{
  padding: 0;
  margin: 0;
}

nav{
  padding-top: 12px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  a{
    padding: 12px;
    display: inline-block;
    text-decoration: none;
    background-color: white;
    outline: 1px solid #000;
  }
}

#error{
  position: absolute;
  top: 60px;
  left: 10%;
  height: 100px;
  width: 100px;
  background-color: white;
  outline: 1px solid #000;
  padding: 6px;
  text-align: center;
  cursor: not-allowed;
}

#joke{
  position: absolute;
  top: 60px;
  right: 10%;
  height: 100px;
  width: 100px;

  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(https://picsum.photos/200/300?random);

  outline: 2px solid #000;
  padding: 6px;
  text-align: center;
  transition: all 0.2s ease;
  cursor: pointer;
  text-shadow: 0 0 2px #ff0000;
}

body{
  background-color: lighten(lime, 40%);
  color: darken(#FF0000FF,20%);
  top: 0;
  font: 400 1.2rem /1.5rem  Roboto, sans-serif!important;

  position: relative;
}

.info{
  background-color: #fff;
  outline: 2px solid #000;
  span{
    padding: 10px;
    display: block;
    &:nth-child(2n-1){
      background-color: #ccffcc;
    }
  }
}

.block{
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  gap: 40px;
  label,input,button  {
    text-align: center;
    width: 200px;
    display: block;
  }
  textarea{
    width: 200px;
    height: 100px;
    resize: none;
  }
  button,textarea{
    box-sizing: border-box;
    padding: 12px 16px;
    font: inherit;
  }
}
